=== App Config ===
APP_NAME="nime-crawler"
GIT_REPOSITORY="https://github.com/notneet/nime-crawler"
JWT_SECRET="asdasdasd"
JWT_EXPIRES_IN="60s"

V1_VERSION="0.0.1"
APP_ENV=development
APP_CODE="klnqwe"
#APP_PORT=8081
#RATE_LIMIT_SECOND=10
#RATE_LIMIT_COUNT=30
USE_FAST=false
==================

=== CREDENTIAL ===
SENTRY_DSN="url"
RMQ_URL="amqp://guest:guest@localhost:5672/"
DATABASE_URL="mysql://user:user@localhost:6603/anime_data"
DISABLE_LOG_PRISMA=true

OBS_ENDPOINT_URL="url"
BUCKET_NAME="obs"
ACCESS_KEY="asdasd"
SECRET_KEY="CCCC"
==================
