=== App Config ===
APP_NAME="nime-crawler"

V1_VERSION="0.0.1"
#APP_ENV=development
#APP_PORT=8081
#RATE_LIMIT_SECOND=10
#RATE_LIMIT_COUNT=30
==================

=== CREDENTIAL ===
SENTRY_DSN="url"
RMQ_URL="amqp://guest:guest@localhost:5672/"
DATABASE_URL="mysql://user:user@localhost:6603/anime_data"
DISABLE_LOG_PRISMA=true
==================
